body html
{
    margin:0;
    padding:0;
}
.nave
{
    background-color: #343f56;
    font-family: 'Mate SC', serif;

}

.background{
    background-image: url("kids.jpg" );
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
  height: 100vh;
  width: 100%;

}

.containe{  
   text-align:center;  
  
    }  

    .neonText {
        color: #fff;
        text-shadow:
            0 0 7px #fff,
            0 0 10px #fff,
            0 0 21px #fff;
}
         
    
        
      body {
        font-size: 18px;
        background-color: #010a01;
      }  
      
      h1, h2 {
        text-align: center;

        font-weight: 400;
      }
        
      h1 {
          font-size: 4.2rem;
      }
        
      h2 {
          font-size: 1.8rem;
      }
      .family {
        font-family: "Vibur", sans-serif;
      }
      .fa
      {
        font-family: 'Mate SC', serif;
      }

      .scroll-container {
        width: 350px;
        height: 200px;
        overflow-y: scroll;
        scroll-behavior: smooth;
      }

      .scroll-page {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
      
      }
      .txt
      {
          color:white;
      }





      .login-box a{
        position: relative;
        display: inline-block;
        padding: 10px 20px;
        color: #03e9f4;
        font-size: 16px;
        text-decoration: none;
        text-transform: uppercase;
        overflow: hidden;
        transition: .3s;
    
        letter-spacing: 4px
      }
      
      .login-box a:hover {
        background: #03e9f4;
        color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 5px #03e9f4,
                    0 0 25px #03e9f4,
                    0 0 50px #03e9f4,
                    0 0 100px #03e9f4;
      }
      
      
